{% include 'goals/headers.html' %}

<a class="jumbotron text-monospace">
    <h1 class="display-4">Congratulations, you've just set a goal!</h1>
    <p class="lead">Now let's break that goal down into smaller pieces, so that it's easier to manage.</p>
    <hr class="my-4">
    <p>We'll set some daily goals, and some weekly goals, that will bring you closer to acheiving your overall goal. 
        Along with some benchmarks along the way to help you track your progress.  You can enter as few or as many as you like.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</a>

<button>
    <div class="form-group">
        <label name="daily_goal" for="daily_goal">Daily Goal</label>
        <input type="text" class="form-control" id="dailyGoalInput" aria-describedby="daily_goal"
            placeholder="Daily Goal">
        <small id="emailHelp" class="form-text text-muted">Create some daily goals that would.</small>
    </div>
    <div class="form-group">
        <label for="weekly_goal">Weekly Goal</label>
        <input name="weekly_goal" type="text" class="form-control" id="weeklyGoalInput" placeholder="Weekly Goal">
    </div>
    <div class="form-group">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        <input type="text" class="form-check-input" id="exampleCheck1">
       
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</button>

{% include 'goals/footers.html' %}