{% include 'goal/headers.html' %}

    <div class="row mt-3">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    Goals
                </div>
                <div class="card-body">
                    Run a marathon
                    
                </div>
                <div class="card-body">
                    Learn French
                
                </div>
                <div class="card-body">
                  Learn to play guitar
                
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Accomplishments
                </div>
                <div class="card-body">
                    Run a mile
            
                </div>
                <div class="card-body">
                    Have a simple coversation in French
            
                </div>
                <div class="card-body">
                    Learn 4 chords
            
                </div>
            </div>
        </div>
       
        <div class="col" id="main-content">
            <h3 class="text-center text-monospace">Today's Goals</h3>
            <div class="card-columns">
                <div class="card">
                    <div class="card-body">
                        
                        <div class="form-check inline">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Run a mile
                            </label>
                        </div>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="card-body">
                    <div class="form-check inline">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Practice French for 20 minutes
                        </label>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="form-check inline">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Learn to play a new song
                            </label>
                        </div>
                    </div>
                </div>      
             
               
            </div>
            <h3 class="text-center text-monospace">Congratulate your friends!</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Suzie runs a lot went for a jog today. 
                    <p>
                    <a href="">Congratulate</a>
                    </p> 
                </li>
                <li class="list-group-item">Django Reinhardt learned a new song today.
                    <p>
                        <a href="">Congratulate</a>
                    </p>
                </li>
                <li class="list-group-item">Tina Three-languages had a conversation in French today.
                    <p>
                        <a href="">Congratulate</a>
                    </p>
                </li>
               
            </ul>

        
        </div>
      
        
        <div class="col-3">
           
            <div class="card">
                <div class="card-header">
                   Groups
                </div>
                <div class="card-body">
                    Running
        
                </div>
                <div class="card-body">
                    Trilingual       
                </div>
                <div class="card-body">
                    Rocking out        
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Squad
                </div>
                <div class="card-body">
                    
                    <a href="C:\Users\johna\Projects\personal_projects\level_up\LevelUpWireframe\user_detail.html">Suzie runs-a-lot</a> 
                </div>
                <div class="card-body">
                    <a href="C:\Users\johna\Projects\personal_projects\level_up\LevelUpWireframe\user_detail.html">Tina Three-languages</a>
                </div>
                <div class="card-body">
                    <a href="C:\Users\johna\Projects\personal_projects\level_up\LevelUpWireframe\user_detail.html">Django Reinhardt</a>
                </div>
                
            </div>
        </div>
        
        
    </div>
    


{% include 'goal/footers.html' %}

  


   
    
   

