{% include 'goal/headers.html' %}
        <div class="jumbotron text-center mono-space">
            <h1 class="display-4">Hello, Human!</h1>
            <p class="lead">Here is where you can see what your friends are up to</p>
            <hr class="my-4">
        
        </div>
        <div class="container">
            <div class="card-columns text-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Suzie Runs-a-lot lvl4</h5>
                        <p class="card-text">Suzie went for a jog today</p>
                        <a href="">Congratulate</a>
                        <p><a class="btn btn-primary" href="C:\Users\johna\Projects\personal_projects\level_up\LevelUpWireframe\user_detail.html">View profile</a></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tina Three-languages lvl2</h5>
                        <p class="card-text">Tina practiced french today.</p>
                        <a href="">Congratulate</a>
                        <p><a class="btn btn-primary" href="C:\Users\johna\Projects\personal_projects\level_up\LevelUpWireframe\user_detail.html">View profile</a></p>
        
                    </div>
                </div>
                <div class="card">        
                    <div class="card-body">
                        <h5 class="card-title">Django Reinhardt lvl3</h5>
                        <p class="card-text">Gained a level today!</p>
                        <a href="">Congratulate</a>
                        <p><a class="btn btn-primary" href="C:\Users\johna\Projects\personal_projects\level_up\LevelUpWireframe\user_detail.html">View profile</a></p>
                    </div>
                </div>
        
        
        
        
        
            </div>
        </div>
{% include 'goal/footers.html' %}