{% include 'goal/headers.html' %}
        <div class="row mt-3">
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        Mega Villain's Goals
                    </div>
                    <div class="card-body">
                        Run a marathon
                    </div>
                    <div class="card-body">
                        Learn French
                    </div>
                    <div class="card-body">
                        Learn to play guitar
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Mega Villain's Accomplishments
                    </div>
                    <div class="card-body">
                        Run a mile
                    </div>
                    <div class="card-body">
                        Have a simple coversation in French
                    </div>
                    <div class="card-body">
                        Learn 4 chords
                    </div>
                </div>
            </div>
            <div class="col" id="main-content">
                <h3 class="text-center text-monospace">Mega Villain's Daily Goals</h3>
                <div class="card-columns">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check inline">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Make someone cry
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check inline">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Steal candy from a baby
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check inline">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Get a cat stuck in a tree
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-center text-monospace">Mega Villain's achievements</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mega Villain invented a weather machine.
                        <p>
                            <a href="">Congratulate</a>
                        </p>
                    </li>
                    <li class="list-group-item">Mega Villain destroyed the economy of a small country
                        <p>
                            <a href="">Congratulate</a>
                        </p>
                    </li>
                    <li class="list-group-item">Mega Villain held a word leaders dog for ransom
                        <p>
                            <a href="">Congratulate</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        Mega Villain's Groups
                    </div>
                    <div class="card-body">
                        World Domination

                    </div>
                    <div class="card-body">
                        By Villains for Villains
                    </div>
                    <div class="card-body">
                        Heroes and their Nemesis's (Nemesi?)
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Mega Villain's Squad
                    </div>
                    <div class="card-body">
                        Johnny of the Cobra Kai Dojo
                    </div>
                    <div class="card-body">
                        Ursula the Sea Witch
                    </div>
                    <div class="card-body">
                        Kingpin
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
        </div>
{% include 'goal/footers.html' %}